<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SnipShare</title>
    <meta charset="UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <header class="container">
      <hgroup>
        <a style="text-decoration: none" href="/">
          <h1 style="margin: 0">SnipShare</h1>
        </a>
        <p>Share snippets of text easily!</p>
      </hgroup>
    </header>
    <main class="container">
      <form id="form">
        <label for="title">
          Title
          <input type="text" name="title" />
        </label>
        <label for="content">
          Content
          <textarea name="content" rows="12" cols="50"></textarea>
        </label>
        <fieldset>
          <label for="expiry-date">
            Expiry Date
            <input type="date" name="expiry-date" value="" />
          </label>
          <label for="disposable">
            <input
              type="checkbox"
              role="switch"
              name="disposable"
              value="false"
            />
            Dispose after read
          </label>
        </fieldset>
        <button type="submit">Submit</button>
      </form>
      <div id="result"></div>
    </main>

    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        const formData = new FormData(form);

        const json = {
          content: formData.get("content"),
          title: formData.get("title"),
          isDisposable: formData.get("disposable") === "true",
          expiryDate: formData.get("expiry-date"),
        };

        fetch("/api/v1/service/submitSnip", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(json),
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error("Network response was not ok.");
            }
          })
          .then((data) => {
            window.location.href = data.redirectUrl;
          })
          .catch((error) => {
            console.error(
              "There was a problem with the fetch operation:",
              error
            );
          });
      });
    </script>
  </body>
</html>
