<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SnipShare</title>
    <meta charset="UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <header class="container">
      <hgroup>
        <a style="text-decoration: none" href="/">
          <h1 style="margin: 0">SnipShare</h1>
        </a>
        <p>Share snippets of text easily!</p>
      </hgroup>
    </header>
    <main class="container">
      <form id="form" action="/api/v1/service/submitSnip" , method="post">
        <label for="title">
          Title
          <input type="text" name="title" />
        </label>
        <label for="content">
          Content
          <textarea name="content" rows="12" cols="50"></textarea>
        </label>
        <fieldset>
          <label for="expiry-date">
            Expiry Date
            <input type="date" name="expiryDate" value="" />
          </label>
          <label for="disposable">
            <input
              type="checkbox"
              role="switch"
              name="disposable"
              value="false"
            />
            Dispose after read
          </label>
        </fieldset>
        <button type="submit">Submit</button>
      </form>
      <div id="result"></div>
    </main>
  </body>
</html>
