<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SnipShare</title>
    <meta charset="UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      href="/favicons/favicon-48x48.png"
      sizes="48x48"
    />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <header class="container">
      <hgroup>
        <nav>
          <hgroup>
            <a style="text-decoration: none" href="/">
              <h1 style="margin: 0">SnipShare</h1>
            </a>
            <p>Share snippets of text easily!</p>
          </hgroup>
          <div>
            <ul>
              <li><a href="/auth/login">Login</a></li>
              <li><a href="/auth/register">Register</a></li>
            </ul>
          </div>
        </nav>
      </hgroup>
    </header>
    <main class="container">
      <h2>Login</h2>
      <form>
        <input
          type="text"
          name="login"
          placeholder="Username"
          aria-label="Username"
          autoComplete="username"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          aria-label="Password"
          autoComplete="current-password"
          required
        />
        <fieldset>
          <label htmlFor="remember">
            <input
              type="checkbox"
              role="switch"
              id="remember"
              name="remember"
            />
            Remember me
          </label>
        </fieldset>
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
